/*
*  RESET STYLE
*/
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* GÉNÉRALITÉS */
a { text-decoration: none;}
a:hover{ cursor: pointer; }

h1{ font-size: 2.4em; }
h2{ font-size: 2em; }
h3{ font-size: 1.8em; margin-bottom: 20px;}
h4{ font-size: 1.6em; }
h5{ font-size: 1.4em; }
h6{ font-size: 1.2em; }



/*---- STRUCTURE ----*/
body{ font-family: 'Quicksand', sans-serif; background-color: #FFF; color: #333; }
.wrapper{ width: 1180px; margin: auto; }

.flex {display: flex; flex-direction: row;}
.flex-col {display: flex; flex-direction: column;}

/* HEADER */
header{ display: flex; flex-flow: nowrap; justify-content: flex-start; align-content: center; border-top: 10px solid #333; }

header .logo{ width: 200px; background-color: #FFF; justify-content: center; align-items: center; }
header .logo h1{ font-family: 'Playfair Display', serif; letter-spacing: 2px; font-size: 38px; position: relative;}
header .logo h1 a { color: #333; position: relative; z-index: 1; }

header .nav-container{ flex: 1; }

header .top-nav{ font-size: 12px; text-align: right; color: #333; background-color: #FFF; }
header .top-nav ul { padding: 8px 10px; }
header .top-nav ul li{ display: inline-block; margin-right: 10px; }
header .top-nav ul li img{ height: 20px; vertical-align: middle; }

header .second-nav{ background-color: rgba(255, 255, 255, 0.6); }
header .second-nav{ display: flex; flex-direction: row; align-items: center;}
header .second-nav nav{ padding: 0px 10px; font-size: 20px; display: flex; flex: 1; }
header .second-nav nav a{ text-decoration: none; color: rgba(0,0,0,0.6); margin-right: 30px; align-self: flex-end; position: relative; padding: 20px 0; transition: all 0.3s; -webkit-transition: all 0.3s;}
header .second-nav nav a:hover{ color: #333; }
header .second-nav nav a:first-child{ margin-left: 12px; }
header .second-nav nav a::after{ content: ' '; width: 100%; position: absolute; border-bottom: 2px solid #79CCF0; left: 0; bottom: -5%; opacity: 0; -webkit-transition: all 0.5s; transition: all 0.5s; }
header .second-nav nav a:hover::after{ bottom: 20%; opacity: 1; }
header .second-nav .log-in-button{ margin-right: 10px; background-color: #79CCF0; border-radius: 3px; }
header .second-nav .log-in-button a{ color: #FFF; padding: 10px 15px; display: inline-block; }

/* BANNER */
.banner{ width: 100%; height: 380px; background: url(../images/banner3.jpg) no-repeat center -80px/ cover; margin-top: -60px; justify-content: center; align-items: center; }
.banner h2{ color: #FFF; font-size: 5.5vw; margin-top: 2.5%; font-weight: 500; text-shadow: rgba(0,0,0,0.4) 2px 2px 2px; }
.banner h2 span{ color: #79CCF0; font-family: 'Playfair Display', serif; font-style: italic; font-size: 3vw; display: block; text-align: right; }

/* CONTENT */
.contenu{ margin: 30px 0; }

.content,
.sidebar{ padding: 20px; }
.content{ width: 75%; }
.sidebar{ width: 25%; }

.sidebar h4.posts-title{ font-size: 1.2em; }



section#articles { flex-wrap: wrap; }
article.posts { width: 48%; margin-right: 4%; padding: 40px 0; border-top: 1px solid #ddd;}
article.posts:nth-child(2n+2) { margin-right: 0; }
article.posts .posts-image { width: 100%; height: auto; margin-bottom: 20px; text-align: center; background-color: grey; }
article.posts .posts-date { color: #2e8ece; font-weight: 600; margin-right: 15px; }
article.posts .posts-heading { flex: 1; }
article.posts .posts-title a { font-size: 20px; line-height: 25px; color: #333; margin-bottom: 15px; }
article.posts .posts-auteur a { font-size: 14px; color: #666; display: inline-block; line-height: 25px; margin-right: 30px; }
article.posts .posts-resume { margin: 25px 0; height: 75px; line-height: 25px; overflow: hidden; text-overflow: ellipsis; }
article.posts .posts-readmore a { border: 1px solid #79CCF0; color: #79CCF0; display: inline-block; margin: auto; line-height: 38px; height: 40px; padding: 0 30px; text-transform: uppercase; font-size: 13px; font-weight: 700; border-radius: 30px; }

/* SIDEBAR */

/* FOOTER */
footer { background-color: #232323; text-align: center; padding: 20px; justify-content: center; }
footer .static-link a { color: #fff; padding: 10px 15px; text-decoration: none; }
footer .static-link a:hover { color: #439fdf; font-weight: 600; }
footer .static-link:first-child { border-right: 1px solid #fff; }

/*---- FIN STRUCTURE ----*/


/* PAGE DE CONTACT */
p { margin-bottom: 20px; }

/* FORMULAIRES */
input[type=text], input[type=email], input[type=tel], input[type=number], input[type=date], form select, form textarea {width: 100%; background: #fff; border: 1px solid #e5e5e5; border-radius: 0; box-shadow: none; min-height: 40px; padding: 5px 10px; line-height: 28px; font-size: 12px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.submit { margin-top: 20px; clear: both; border-radius: 30px; padding: 5px 30px; font-size: 13px; font-weight: 700; line-height: 30px; text-transform: uppercase; border: 0; color: #fff; }

/* PAGE CONTACT */
#contact .contact-content { justify-content: space-between; }
#contact .contact-content > div  { width: 50%; margin: 30px 0; }
#contact h3.title { color: #333; text-transform: uppercase; font-size: 20px; line-height: 30px; font-weight: 600; margin-bottom: 30px; }

#contact .contact-info .boxes-icon { width: 30px; height: 30px; margin: 10px 10px 0 0; }
#contact .contact-info .part { margin-bottom: 30px; }
#contact .contact-info .part h4 { font-size: 16px; line-height: 16px; font-weight: 600; margin: 0 0 10px; }
#contact .contact-info .part .text,
#contact .contact-info .part .text a { color: #666; }
#contact .contact-info .part .text a:hover { color: #439fdf; font-weight: 600; }

#contact .contact-form .form-left { width: 50%; padding-right: 15px; float: left; }
#contact .contact-form input.submit { background: #439fdf; }



/*---- CONTENUS ----*/

/* textes */

/* images */

/*---- FIN CONTENUS ----*/

