/*
*  RESET STYLE
*/
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* GÉNÉRALITÉS */
a { text-decoration: none; color: #333; transition: all 0.3s; }
a:hover{ color: #79CCF0; }

p{ font-size: 15px; line-height: 22px; }

p img{ width: 100%; }

h1{ font-size: 2.4em; }
h2{ font-size: 2em; }
h3{ font-size: 1.8em;}
h4{ font-size: 1.4em; }
h5{ font-size: 1.3em; }
h6{ font-size: 1.2em; }

/* mise en forme titres */
h3 { font-family: 'Playfair Display', serif; border-bottom: 2px solid #DDD; padding-bottom: 20px; margin-bottom: 40px; }
h4 { line-height: 25px; letter-spacing: 1px; }

/*---- STRUCTURE ----*/
body{ font-family: 'Lato', sans-serif; background-color: #FFF; color: #333; }

.wrapper{ width: 1180px; margin: auto; }

.flex {display: flex; flex-direction: row;}
.flex-col {display: flex; flex-direction: column;}

/* HEADER */
header{ display: flex; flex-flow: nowrap; justify-content: flex-start; align-content: center; border-top: 10px solid #333; }

header .logo{ width: 200px; background-color: #FFF; justify-content: center; align-items: center; }
header .logo h1{ font-family: 'Playfair Display', serif; letter-spacing: 2px; font-size: 38px; position: relative;}
header .logo h1 a { color: #333; position: relative; z-index: 1; }

header .nav-container{ flex: 1; }

header .top-nav{ font-size: 12px; text-align: right; color: #333; background-color: #FFF; }
header .top-nav ul { padding: 8px 10px; }
header .top-nav ul li{ display: inline-block; margin-right: 10px; }
header .top-nav ul li img{ height: 20px; vertical-align: middle; }

header .second-nav{ background-color: rgba(255, 255, 255, 0.6); }
header .second-nav{ display: flex; flex-direction: row; align-items: center;}
header .second-nav nav{ padding: 0px 10px; font-size: 20px; display: flex; flex: 1; }
header .second-nav nav a{ color: rgba(0,0,0,0.6); margin-right: 30px; align-self: flex-end; position: relative; padding: 20px 0; transition: all 0.3s; -webkit-transition: all 0.3s;}
header .second-nav nav a:hover{ color: #333; }
header .second-nav nav a:first-child{ margin-left: 12px; }
header .second-nav nav a::after{ content: ' '; width: 100%; position: absolute; border-bottom: 2px solid #79CCF0; left: 0; bottom: -5%; opacity: 0; -webkit-transition: all 0.5s; transition: all 0.5s; }
header .second-nav nav a:hover::after{ bottom: 20%; opacity: 1; }
header .second-nav .log-in-button{ margin-right: 10px; background-color: #79CCF0; border-radius: 10px; }
header .second-nav .log-in-button a{ color: #FFF; padding: 10px 15px; display: inline-block; }

/* POPUP CONNEXION */
#popup-login { display: none; position:fixed; z-index: 4; width:100%; height:100%; top:0; left:0; cursor: pointer; background: rgba(0,0,0,0.6); opacity:1; }
#popup-login.open { display: block; }
#popup-login input { border: 1px solid #eeeeee; }
#popup-login .popup-content { background: #FFFFFF; margin: 50px auto; width: 90%; cursor: auto; max-width: 500px; padding: 30px; } 
#popup-login .popup-title { font-size: 30px; font-weight: bold; margin-bottom: 30px; }
#popup-login .popup-form label:not(.checkbox) {position: absolute; height: 20px; width: 20px; overflow: hidden; text-indent: -10000px; }
#popup-login .popup-form input.valider { color: #FFFFFF; background: #79ccf0; font-weight: 600; text-transform: uppercase; cursor: pointer; border-radius: 10px; padding: 13px 30px; }
#popup-login .popup-form input.valider:hover { color: #79ccf0; background: #ffffff; border: 1px solid #79ccf0; }

#popup-login .popup-signin { font-size: 18px; line-height: 24px; margin: 0; color: #79CCF0; }
#popup-login .popup-signin a { color: #439fdf; }
#popup-login .popup-signin a:hover { color: #333; }

/* BANNER */
.banner{ width: 100%; height: 380px; background: url(../images/banner4.jpg) no-repeat center bottom -120px/ cover; justify-content: center; align-items: center; margin-top: -60px; }
.banner h2{ color: #333; font-size: 5.5vw; margin-top: 2.5%; font-weight: 500; text-shadow: rgba(0,0,0,0.4) 2px 2px 2px; }
.banner h2 span{ color: #79CCF0; font-family: 'Playfair Display', serif; font-style: italic; font-size: 3vw; display: block; text-align: right; }

/* CONTENT */
.contenu{ margin: 60px 0; }

.content{ width: 76%; margin-right: 4%; }
.sidebar{ width: 20%; }
.sidebar section{ margin-bottom: 40px; }

.sidebar h3 i{ color: #79CCF0; }
.sidebar h4.posts-title{ font-size: 1.2em; }


/* ARTICLES */
section#articles { flex-wrap: wrap; }

article.posts { width: 48%; margin-right: 4%; padding: 40px 0; border-top: 1px solid #ddd;}
article.posts:nth-child(even) { margin-right: 0; }

article.posts .posts-image { width: 100%; height: auto; margin-bottom: 20px; text-align: center; background-color: #ddd; }

article.posts .posts-date { background-color:#79CCF0; color: #FFF; font-weight: 600; margin-right: 10px; padding: 10px; text-align: center; }
article.posts .posts-date span.post_date_month,
article.posts .posts-date span.post_year{ display: block; }

article.posts .posts-date span.post_date_month{ margin-bottom: 4px; font-size: 18px; letter-spacing: 1px; }
article.posts .posts-date span.post_year{ font-size: 14px; }

article.posts .posts-heading { flex: 1; align-self: center; }

article.posts .infos:first-child{ margin-bottom: 20px; }
article.posts .infos{ width: 100%; align-items: flex-start; }

article.posts .posts-title a { color: #333; }
article.posts .posts-infos { margin-right: 30px; }
article.posts .posts-infos span,
article.posts .posts-infos span a { font-size: 14px; color: #666; line-height: 25px;}
article.posts .posts-resume { margin: 0 0 25px 0; line-height: 25px; overflow: hidden; text-overflow: ellipsis; }
article.posts .posts-author{ font-size: 13px; }
article.posts .posts-author a{ color: #79CCF0; }
article.posts .posts-readmore{ text-align: center; width: 100%; }
article.posts .posts-readmore a { border: 1px solid #79CCF0; color: #79CCF0; display: inline-block; margin: auto; line-height: 38px; height: 40px; padding: 0 30px; text-transform: uppercase; font-size: 13px; font-weight: 700; border-radius: 10px; }
article.posts .posts-readmore a:hover { color: #fff; background-color: #79CCF0; }


/* article */
h3.actualite-title{ margin-bottom: 4px; }

p.post-informations{ border-bottom: 1px solid #DDD; padding-bottom: 4px; }
p.post-informations span{ font-size: 1em; font-family: 'Lato'; font-weight: 500; }
p.post-informations span.post-date{ padding: 6px; color: #FFF; background-color: #79CCF0; }
p.post-informations span.post-author{ text-transform: uppercase; margin-left: 10px; color: #757575; }

article.actualite-content { border-bottom: 1px solid #DDD; padding-bottom: 20px; margin-bottom: 20px; }
article.actualite-content img{ width: 100%; margin-bottom: 20px; }

#commentaire h4{ font-family: 'Playfair Display', serif; margin-bottom: 30px; }
#commentaire input.submit{ width: auto; }

section#commentaire #respond{ padding: 20px 0; margin-bottom: 20px; border-bottom: 1px solid #DDD; }

/* page home */
.home article.posts:first-child { display: flex; flex-direction: row; align-items: flex-start; width: 100%; margin-right: 0; border-top: 0; padding: 0 0 40px; }
.home article.posts:nth-child(even) { margin-right: 4%; }
.home article.posts:nth-child(odd) { margin-right: 0; }
.home article.posts .posts-image { margin-right: 30px; }

/* page actualité */
.actualites article.posts:nth-child(1),
.actualites article.posts:nth-child(2){ border-top: 0; padding: 0 0 40px; }

/* SIDEBAR */
.sidebar ul.article-list{ list-style-type: none; }
.sidebar ul.article-list li{ margin-bottom: 10px; }
.sidebar ul.article-list li a{ color: #333; }
.sidebar ul.article-list li span{ color: #79CCF0; }

/* FOOTER */
footer { background-color: #232323; text-align: center; padding: 20px; justify-content: center; }
footer .static-link a { color: #fff; padding: 10px 15px; transition: all 0.3s; }
footer .static-link a:hover { color: #79CCF0; }
footer .static-link:first-child { border-right: 1px solid #fff; }

/*---- FIN STRUCTURE ----*/


/* PAGE DE CONTACT */
p { margin-bottom: 20px; }


/* FORMULAIRES */
input[type=text], input[type=email], input[type=tel], input[type=password], input[type=number], input[type=date], form select, form textarea {width: 100%; background: #fff; border: 1px solid #e5e5e5; border-radius: 0; box-shadow: none; min-height: 40px; padding: 5px 10px; line-height: 28px; font-size: 12px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.form-left { width: 48%; margin-right: 4%; }
.form-left input{ margin-bottom: 30px; }
.form-left input:last-child{margin-bottom: 0;}

.form-right{ width: 48%; }
.form-right textarea{ height: 100%; }

p.form-submit{ text-align: center; }
input.submit { background: #79CCF0; margin-top: 30px; width: 100%; border-radius: 10px; padding: 5px 30px; font-weight: 700; line-height: 30px; text-transform: uppercase; border: 0; color: #FFF; font-size: 0.95em;}
input.submit:hover{ cursor: pointer; }

/* PAGE CONTACT */

#contact .contact-content { justify-content: space-between; }
#contact .contact-content > div  { width: 48%; margin-right: 4%; }
#contact .contact-content > div:last-child{ margin-right: 0; }

#contact .contact-info .boxes-icon { width: 30px; height: 30px; margin: 10px 10px 0 0; }
#contact .contact-info .part { margin-bottom: 30px; }
#contact .contact-info .part h4 { font-size: 16px; line-height: 16px; font-weight: 600; margin: 0 0 10px; }
#contact .contact-info .part .text,
#contact .contact-info .part .text a { color: #666; }
#contact .contact-info .part .text a:hover { color: #79CCF0; }

#contact .carte{ margin-top: 40px; }

/* FULL PAGE */
.text-full-page h4{ margin-bottom: 10px; margin-top: 30px; }
.text-full-page p.fin-page{ border-bottom: 2px solid #DDD; padding-bottom: 40px; }


/*---- CONTENUS ----*/

/* textes */

/* images */

/*---- FIN CONTENUS ----*/


